@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost',
sans-serif;
$font-cormorant: 'Cormorant',
serif;


html {
   font-size: 10px;
}

body {
   font-family: $font-jost;
   font-size: 1.6rem;
   color: $green;
}

h1,
h2,
h3 {
   font-family: $font-cormorant;
   font-weight: 700;
   margin: 0;
}

p {
   margin: 0;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 4rem;
   margin-bottom: 5rem;

   &__wrapper1 {
      display: flex;
      align-items: center;
      gap: 11.8rem;
   }

   &__wrapper2 {
      display: flex;
      align-items: center;
      gap: 8rem;
   }

   &__nav {
      display: flex;
      gap: 5rem;
      list-style: none;
      margin: 0;
      padding-left: 0;
   }

   &__link {
      text-decoration: none;
      color: $green;

      &:hover {
         color: $orange;
      }
   }

   &__tel {
      text-decoration: none;
      color: $green;
      font-weight: 500;
      letter-spacing: 0.1em;

      &:hover {
         color: $orange;
      }
   }

   &__cart {
      display: block;
      background: $orange url(../images/cart.svg) no-repeat center center /1.7rem 1.5rem;
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 100%;
      position: relative;
      border: 1px solid $orange;

      &:hover {
         background-color: $green;
         border: 1px solid $green;
      }
   }

   &__counter {
      font-size: .8rem;
      color: $white;
      position: absolute;
      right: .5rem;
      top: .4rem;
   }
}

.logo {
   display: block;
   background: url(../images/logo.svg) no-repeat top /contain;
   width: 12rem;
   height: 3.2rem;
}

.main {
   background: url(../images/main.png) no-repeat center /cover;
   position: relative;
   padding-bottom: 18.7rem;
   z-index: 0;

   &__item {
      margin-left: 12rem;
      max-width: 378px;
      margin-top: 6rem;
   }

   &__link {
      margin-top: 5rem;
   }

   &__flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
   }

   &__cover {
      flex-basis: 763px;
      height: 763px;
      border: 1px solid rgba($green, .4);
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
   }

   &__line {
      width: 658px;
      height: 658px;
      border: 1px solid rgba($green, .4);
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__img {
      width: 92%;
      box-shadow: 29px 52px 121px -76px rgba($green, .8);
      border-radius: 100%;
   }

   &__text {

      padding-top: 3.6rem;
   }

   &__btn {
      border: none;
      background: transparent;
      padding: 0;
      color: $green;
      text-align: left;
      position: absolute;
      line-height: 1.4;

      &:hover {
         &::before {
            background: $orange;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
         }
      }

      &::before {
         content: '';
         background: $green;
         width: 11px;
         height: 11px;
         box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
         border-radius: 100%;
         position: absolute;
      }

      &_1 {
         top: 5.8%;
         left: 8.8%;

         &::before {
            bottom: 26%;
            right: -59%;
         }
      }

      &_2 {
         top: 25.3%;
         right: 0.3%;

         &::before {
            top: 38%;
            left: -35%;
         }
      }

      &_3 {
         bottom: -6%;
         right: 32%;

         &::before {
            top: -43%;
            left: 23%;
         }
      }
   }

   &__food {
      display: block;
      color: rgba($green, .8);
   }

   &__tomato {
      position: absolute;
      bottom: 11%;
      right: 7.3%;
      width: 11rem;
      z-index: -1;
   }

   &__avocado {
      position: absolute;
      top: 4.5%;
      right: 0;
      width: 19rem;
      z-index: -1;
   }

   &__beans {
      position: absolute;
      bottom: 14.7%;
      left: 0;
      width: 11.8rem;
      z-index: -1;
   }

   &__cucumber {
      position: absolute;
      top: 0;
      left: 36.3%;
      width: 8.5rem;
      z-index: -1;
   }

   &__pepper {
      position: absolute;
      top: 37%;
      left: 3%;
      width: 8.6rem;
      z-index: -1;
   }
}

.title {
   font-size: 8rem;
   line-height: 1;

   &__span {
      font-style: italic;
   }

   &_block {
      .title__span {
         display: block;
      }
   }
}

.description {
   line-height: 1.5;

   &_size-s {
      font-size: 1.8rem;
   }

   &_size-m {
      font-size: 2.4rem;
   }
}

.link {
   color: $white;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: .1rem;
   background: $orange;
   box-shadow: 0px 1rem .65rem rgba(207, 92, 13, 0.2);
   border-radius: 3.8rem;
   padding: 2.5rem 4.5rem;
   display: inline-block;

   &:hover {
      background-color: #bf601f;
   }
}

.offer {
   background: url(../images/offer.png) no-repeat center /cover;
   padding: 1.2rem 0 20rem;

   &__text {
      margin-top: 6rem;
      max-width: 700px;
   }

   &__slider {
      overflow: hidden;
      padding-top: 100px;
   }
}

.swiper {
   overflow: initial;
   padding-left: 1px;

   &-slide {
      display: flex;
      flex-direction: column;
      justify-content: end;
      box-shadow: inset rgba($green, .4) 0 0 0 1px;
      border-radius: 2rem;
      padding: 4rem;
      height: 520px;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;

      &:hover {
         box-shadow: inset rgba($green, .6) 0 0 0 3px;
         border-radius: 2rem;
      }

      &:hover &__title {
         opacity: 1;
         z-index: 1;
      }

      &:hover &__box {
         max-height: 500px;
         opacity: .7;
      }


      &:hover &__overlay {
         opacity: .55;
      }

      &__overlay {
         position: absolute;
         height: 100%;
         left: 0px;
         top: 0px;
         width: 100%;
         background: $white;
         opacity: 0;
         transition: 0.5s;
      }

      &__title {
         font-size: 3rem;
      }

      &__box {
         overflow: hidden;
         max-height: 0;
         transition: 0.5s linear;
      }

      &__text {
         width: 263px;
         line-height: 1.5;
         margin: 2.7rem 0 3.5rem;
      }

      &__link {
         color: $green;
         font-weight: 500;
         text-transform: uppercase;
         text-decoration: none;
         letter-spacing: .1rem;





         &::before {
            content: '+';
            display: inline-block;
            border: 1px solid $green;
            width: 28px;
            height: 28px;
            border-radius: 100%;
            text-align: center;
            line-height: 99%;
            font-size: 2.4rem;
            margin-right: 2rem;
         }
      }

      &__milk {
         background: url(../images/milk.png) no-repeat 24.1rem 3rem /127px 385px;
         transition: 0.5s linear;

         &:hover {
            background-size: 127px 420px;
            background-position-y: 4rem;
         }

      }

      &__pasta {
         background: url(../images/pasta.png) no-repeat 15.3rem 2.6rem /301px 418px;
         transition: 0.5s linear;

         &:hover {
            background-size: 301px 453px;
            background-position-y: 3.6rem;
         }
      }

      &__meat {
         background: url(../images/meat.png) no-repeat 2.3rem 9.2rem /434px 315px;
         transition: 0.5s linear;

         &:hover {
            background-size: 434px 350px;
            background-position-y: 10.2rem;
         }
      }
   }

   &-pagination {
      display: none;
   }

   &-button-next,
   &-button-prev {
      top: -63px;
      // width: 10px;
      // height: 18px;
      fill: $green;
      opacity: 0.4;

      &:hover {
         opacity: 1;
      }

      &::after {
         content: none;
         // color: rgba($green, .4);
      }
   }

   &-button-next {
      right: -8px;
   }

   &-button-prev {
      left: initial;
      right: 75px;
   }
}