@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost',
sans-serif;
$font-cormorant: 'Cormorant',
serif;


html {
   font-size: 10px;
}

body {
   font-family: $font-jost;
   font-size: 1.6rem;
   color: $green;
}



h1,
h2,
h3 {
   font-family: $font-cormorant;
   font-weight: 700;
   margin: 0;
}

p {
   margin: 0;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 4rem;
   margin-bottom: 5rem;

   &__wrapper1 {
      display: flex;
      align-items: center;
      gap: 11.8rem;
   }

   &__wrapper2 {
      display: flex;
      align-items: center;
      gap: 8rem;
   }

   &__nav {
      display: flex;
      gap: 5rem;
      list-style: none;
      margin: 0;
      padding-left: 0;
   }

   &__link {
      text-decoration: none;
      color: $green;
      transition: .3s;

      &:hover {
         color: $orange;
      }
   }

   &__tel {
      text-decoration: none;
      color: $green;
      font-weight: 500;
      letter-spacing: 0.1em;
      transition: .3s;

      &:hover {
         color: $orange;
      }
   }

   &__cart {
      display: block;
      background: $orange url(../images/cart.svg) no-repeat center center /1.7rem 1.5rem;
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 100%;
      position: relative;
      border: 1px solid $orange;
      transition: .3s;
      cursor: pointer;

      &:hover {
         background-color: $green;
         border: 1px solid $green;
      }
   }

   &__counter {
      font-size: .8rem;
      color: $white;
      position: absolute;
      right: .5rem;
      top: .4rem;
   }
}

.logo {
   display: block;
   background: url(../images/logo.svg) no-repeat top /contain;
   width: 12rem;
   height: 3.2rem;

   &_max {
      width: 18rem;
      height: 5rem;
      margin-top: .6rem;
   }
}

.main {
   background: url(../images/main.png) no-repeat center /cover;
   position: relative;
   padding-bottom: 18.7rem;
   z-index: 0;

   &__item {
      margin-left: 12rem;
      max-width: 378px;
      margin-top: 6rem;
   }

   &__link {
      margin-top: 5rem;
   }

   &__flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
   }

   &__cover {
      flex-basis: 763px;
      height: 763px;
      border: 1px solid rgba($green, .4);
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
   }

   &__line {
      width: 658px;
      height: 658px;
      border: 1px solid rgba($green, .4);
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__img {
      width: 92%;
      border-radius: 100%;
      animation: shadow 3s linear infinite;
   }

   @keyframes shadow {
      0% {
         box-shadow: 0 0 0 0 rgba($green, .8);
      }

      50% {
         box-shadow: 29px 52px 121px -76px rgba($green, .8);
      }

      100% {
         box-shadow: 0 0 0 0 rgba($green, .8);
      }
   }

   &__text {
      padding-top: 3.6rem;
   }

   &__btn {
      border: none;
      background: transparent;
      padding: 0;
      color: $green;
      text-align: left;
      position: absolute;
      line-height: 1.4;


      &:hover {
         &::before {
            background: $orange;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
         }
      }

      &::before {
         content: '';
         background: $green;
         width: 11px;
         height: 11px;
         box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
         border-radius: 100%;
         position: absolute;
         transition: .3s;
         cursor: pointer;
      }

      &_1 {
         top: 5.8%;
         left: 8.8%;

         &::before {
            bottom: 26%;
            right: -59%;
         }
      }

      &_2 {
         top: 25.3%;
         right: 0.3%;

         &::before {
            top: 38%;
            left: -35%;
         }
      }

      &_3 {
         bottom: -6%;
         right: 32%;

         &::before {
            top: -43%;
            left: 23%;
         }
      }
   }

   &__food {
      display: block;
      color: rgba($green, .8);
   }

   &__tomato {
      position: absolute;
      bottom: 11%;
      right: 7.3%;
      width: 11rem;
      z-index: -1;
   }

   &__avocado {
      position: absolute;
      top: 4.5%;
      right: 0;
      width: 19rem;
      z-index: -1;
   }

   &__beans {
      position: absolute;
      bottom: 14.7%;
      left: 0;
      width: 11.8rem;
      z-index: -1;
   }

   &__cucumber {
      position: absolute;
      top: 0;
      left: 36.3%;
      width: 8.5rem;
      z-index: -1;
   }

   &__pepper {
      position: absolute;
      top: 37%;
      left: 3%;
      width: 8.6rem;
      z-index: -1;
   }
}

.title {
   font-size: 8rem;
   line-height: 1;

   &__span {
      font-style: italic;
   }

   &_block {
      .title__span {
         display: block;
      }
   }
}

.description {
   line-height: 1.5;

   &_size-s {
      font-size: 1.8rem;
   }

   &_size-m {
      font-size: 2.4rem;
   }
}

.link {
   color: $white;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: .1rem;
   background: $orange;
   box-shadow: 0px 1rem .65rem rgba(207, 92, 13, 0.2);
   border-radius: 3.8rem;
   padding: 2.5rem 5rem;
   display: inline-block;
   border: none;
   transition: .3s;

   &_size-s {
      font-size: 1.4rem;
      padding: 1.8rem 3.5rem;
   }

   &:hover {
      background-color: #bf601f;
   }
}

.offer {
   background: url(../images/offer.png) no-repeat center /cover;
   padding: 1.2rem 0 17.2rem;

   &__text {
      margin-top: 6rem;
      max-width: 700px;
   }


}

.slider {
   overflow: hidden;
   padding-top: 9rem;
}

.swiper {
   overflow: initial;
   padding-left: 2px;

   &-slide {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      box-shadow: inset rgba($green, .4) 0 0 0 1px;
      border-radius: 2rem;
      padding: 3rem;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      z-index: 1;

      &_height-m {
         height: 520px;
      }

      &_height-l {
         height: 680px;
         padding: 2.7rem 3.8rem 3.8rem;
      }

      &:hover {
         box-shadow: inset rgba($green, .4) 0 0 0 3px;
      }

      &:hover &__box {
         max-height: 500px;

      }


      &:hover &__overlay {
         opacity: .55;
      }

      &__overlay {
         position: absolute;
         width: calc(100% - 4px);
         height: calc(100% - 4px);
         left: 2px;
         top: 2px;
         background: $white;
         opacity: 0;
         transition: 0.3s;
         border-radius: 2rem;
         z-index: -1;
      }

      &__title {
         font-size: 3rem;

      }

      &__box {
         overflow: hidden;
         max-height: 0;
         transition: 0.3s;
      }

      &__text {
         width: 263px;
         line-height: 1.5;
         margin: 2.7rem 0 3.5rem;
         opacity: .7;
      }

      &__link {
         color: $green;
         font-weight: 500;
         text-transform: uppercase;
         text-decoration: none;
         letter-spacing: .1rem;
         opacity: .8;
         transition: .3s;

         &:hover {
            opacity: 1;
         }

         &::before {
            content: '+';
            display: inline-block;
            border: 1px solid $green;
            width: 28px;
            height: 28px;
            border-radius: 100%;
            text-align: center;
            line-height: 100%;
            font-size: 2.4rem;
            margin-right: 2rem;
         }
      }

      &_milk {
         background: url(../images/milk.png) no-repeat 24.1rem 4rem /127px 420px;
         transition: 0.3s;

         // &:hover {
         //    background-size: 127px 420px(385px);
         //    background-position-y: 4rem(3rem);
         // }

      }

      &_pasta {
         background: url(../images/pasta.png) no-repeat 15.3rem 2.6rem /301px 418px;
         transition: 0.3s;

         // &:hover {
         //    background-size: 301px 453px;
         //    background-position-y: 3.6rem;
         // }
      }

      &_meat {
         background: url(../images/meat.png) no-repeat 2.3rem 9.2rem /434px 315px;
         transition: 0.3s;

         // &:hover {
         //    background-size: 434px 350px;
         //    background-position-y: 10.2rem;
         // }
      }

      &__cover {
         position: relative;
         overflow: hidden;
         width: 100%;
         // height: 293px;
         text-align: center;
         margin-bottom: 6rem;
      }

      &__img {
         width: 100%;
         max-width: 351px;
         height: 305px;
         // height: 100%;
         object-fit: contain;

      }


      &__description {
         opacity: .7;

         &_size-m {
            font-size: 1.8rem;
            line-height: 1.5;
            margin: 2.4rem 0 3rem;
            width: 280px;
            min-height: 50px;
         }

         &_size-s {
            font-size: 1.6rem;
            margin: 2.7rem 0 3rem;
            width: 280px;
            min-height: 40px;
         }
      }

      &__price {
         font-size: 2.4rem;
         margin-bottom: 3rem;
      }

      &__footer {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }

   &-pagination {
      display: none;
   }

   &-button-next,
   &-button-prev {
      top: -54px;
      // width: 10px;
      // height: 18px;
      fill: $green;
      opacity: 0.4;
      transition: .3s;

      &:hover {
         opacity: 1;
      }

      &::after {
         content: none;
         // color: rgba($green, .4);
      }
   }

   &-button-next {
      right: -8px;
   }

   &-button-prev {
      left: initial;
      right: 75px;
   }
}

.counter {
   display: flex;

   &__btn {
      cursor: pointer;
      // border: 1px solid $green;
      background: transparent;
      padding: 0;
      border: none;
      width: 50px;
      height: 50px;
   }

   &__minus {
      // pointer-events: none;
      background: url(../images/minus.svg) no-repeat center / contain;
      opacity: .4;

      &_min {
         background-size: 40px 40px;
      }
   }

   &__plus {
      // pointer-events: none;
      background: url(../images/plus.svg) no-repeat center / contain;

      &_min {
         background-size: 40px 40px;
      }
   }

   &__input {
      text-align: center;
      font-size: 2.4rem;
      width: 46px;
      border: none;
      padding: 0;

      &_min {
         width: 20px;
      }
   }
}





.about {
   background: url(../images/about.png) no-repeat center /cover;
   padding-bottom: 19.5rem;

   &__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20rem;
      margin-top: 6rem;

   }

   &__text {
      margin-left: 12rem;
      flex-basis: 620px;
   }

   &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      gap: 8.4rem;
      padding-left: 0;
      margin: 0;
   }

   &__item {
      font-family: $font-cormorant;
      font-style: italic;
      font-weight: 700;
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: transform 5s linear infinite;


      @keyframes transform {
         0% {
            transform: scale(1);
         }

         50% {
            transform: scale(1.2);
         }

         100% {
            transform: scale(1);
         }

      }

      &::before {
         content: '';
         display: block;
         width: 87px;
         height: 87px;
         border-radius: 100%;
         border: 1px solid rgba($green, .4);
         margin-bottom: 2rem;
      }

      &:nth-child(1) {
         &::before {
            background: url(../images/fruits.svg) no-repeat center / 43px 41px;
         }
      }

      &:nth-child(2) {
         &::before {
            background: url(../images/traditional.svg) no-repeat center / 39px 39px;
         }
      }

      &:nth-child(3) {
         &::before {
            background: url(../images/good.svg) no-repeat center / 45px 39px;
         }
      }
   }
}

.trends {
   background: url(../images/trends.png) no-repeat center /cover;
   padding-bottom: 18.6rem;

   &__text {
      margin-top: 3.8rem;
   }
}

.catalog {
   background: url(../images/catalog.png) no-repeat center /cover;
   padding-bottom: 14.2rem;

   &__text {
      margin: 3.6rem 0 8.8rem;
      letter-spacing: 0.1rem;
   }

   &__list {
      display: flex;
      align-items: center;
      gap: 2.1rem;
      list-style: none;
      padding-left: 0;
      margin-bottom: 4.7rem;
   }

   &__item {
      flex-basis: 230px;
      text-align: center;
   }

   &__link {
      display: block;
      font-size: 1.8rem;
      color: $green;
      opacity: .5;
      border: 1px solid rgba($green, .5);
      border-radius: 4rem;
      padding: 2.4rem 0;
      text-decoration: none;
      transition: .3s;

      &:hover {
         color: $orange;
         opacity: 1;
         border: 1px solid $orange;
      }
   }


   &__load {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      border: none;
      background: transparent;
      font-size: 16px;
      font-weight: 500;
      color: $green;
      opacity: 0.8;
      letter-spacing: .1rem;
      text-transform: uppercase;
      padding: 0;
      margin: 6.5rem auto 0;
      transition: .3s;
      cursor: pointer;

      &:hover {
         opacity: 1;
      }

      &::before {
         content: '';
         background: url(../images/refresh.svg) no-repeat center /contain;
         width: 25px;
         height: 25px;
      }

   }
}

.catalog-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 2rem;

   &__product {
      box-shadow: inset rgba($green, .4) 0 0 0 1px;
      border-radius: 2rem;
      padding: 2.8rem 2.7rem 4rem 3rem;
      box-sizing: border-box;
   }

   &__cover {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 205px;
      text-align: center;
   }

   &__img {
      width: 100%;
      max-width: 351px;
      height: 100%;
      object-fit: contain;
   }

   &__title {
      font-size: 3rem;
      margin-top: 1.7rem;
      margin-bottom: 0;
   }

   &__description {
      font-size: 1.6rem;
      color: rgba($green, .7);
      margin-top: 1.8rem;
      min-height: 61px;
      max-width: 250px;
      line-height: 1.5;
   }

   &__price {
      font-size: 2.4rem;
      margin-bottom: 3rem;
   }

   &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

}

.services {
   background: url(../images/services.png) no-repeat center /cover;
   padding-bottom: 20rem;
}

.services-flex {
   display: flex;
   justify-content: space-between;
   gap: 15.8rem;
   margin-top: 7.8rem;

   &__delivery {
      margin-left: 12rem;
      max-width: 575px;
   }

   &__text {
      font-size: 1.8rem;
      letter-spacing: 0.01rem;
      line-height: 1.4;

      .color {
         display: block;
         color: $orange;
      }



      &:nth-child(2) {
         margin-top: 2.9rem;
      }

   }

   &__link {
      font-size: 1.8rem;
      color: $green;
      letter-spacing: 0.01rem;
      text-decoration: none;
      position: relative;

      &::after {
         content: '';
         display: inline-block;
         width: 100%;
         height: 1px;
         background: #5c634a;
         position: absolute;
         left: 0;
         bottom: 1px;
      }
   }

   &__pay {

      &_color {}
   }

   &__list {
      display: flex;
      align-items: center;
      gap: 2.7rem;
      margin: 4rem 0 0 0;
      padding-left: 0;
      list-style: none;
   }

   &__item {
      opacity: .4;
      transition: .3s;
      transform: scale(1);
      cursor: pointer;

      &:hover {
         opacity: 1;
         transform: scale(1.05);
      }

      &:nth-child(1) {
         display: block;
         background: url(../images/mastercard.svg) no-repeat center /contain;
         width: 56px;
         height: 38px;
      }

      &:nth-child(2) {
         display: block;
         background: url(../images/visa.svg) no-repeat center /contain;
         width: 79px;
         height: 27px;
      }

      &:nth-child(3) {
         display: block;
         background: url(../images/paypal.svg) no-repeat center /contain;
         width: 89px;
         height: 27px;
      }
   }
}

.contact {
   padding-bottom: 15rem;
}

.contact-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 34rem;

   &__text {
      font-size: 1.8rem;
      letter-spacing: 0.01rem;
      line-height: 1.4;
      margin: 6.2rem 0 0 12rem;
      max-width: 395px;
      flex-grow: 1;
   }

   &__list {
      margin: 5.7rem 0 0 0;
      padding-left: 0;
      list-style: none;
   }

   &__item {

      &:nth-child(1) a {
         padding-bottom: 1.3rem;

         &::before {
            content: '';
            display: inline-block;
            background: url(../images/phone.svg) no-repeat center / contain;
            width: 29px;
            height: 25px;
         }
      }

      &:nth-child(2) a {
         &::before {
            content: '';
            display: inline-block;
            background: url(../images/mail.svg) no-repeat center / contain;
            width: 29px;
            height: 19px;
         }
      }
   }

   &__info {
      font-size: 2.4rem;
      font-weight: 500;
      color: $green;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 2.8rem;
      transition: .3s;

      &:hover {
         color: $orange;
      }
   }

   &__form {
      flex-basis: 589px;
   }
}

.card {
   border: 2px solid rgba($green, .4);
   border-radius: 2rem;
   padding: 3.8rem 5.6rem 3.7rem;

   &__title {
      font-size: 30px;
      margin-bottom: 3rem;
   }

   &__label {
      display: block;
      font-size: 1.2rem;
      margin: 0 0 1rem 0.6rem;
   }

   &__input {
      display: block;
      color: rgba($green, .4);
      border: 1px solid rgba($green, .4);
      border-radius: 2rem;
      padding: 2.2rem 3rem;
      margin-bottom: 2.8rem;
      width: 100%;
      box-sizing: border-box;

      &:focus {
         border: 1px solid rgba($green, 1);
         outline: none;
      }

      &:invalid {
         border: red;
      }
   }

   &__link {
      margin-top: 1rem;
      cursor: pointer;
   }

   &__check {
      font-size: 1.2rem;
      color: rgba($green, .6);
      line-height: 1.5;
      max-width: 360px;
      margin-top: 1.4rem;
   }

   &__doc {
      color: $green;
      opacity: .6;
      text-decoration: none;
      position: relative;
      transition: .3s;

      &:hover {
         opacity: 1;

         &::after {
            background: $green;
         }
      }

      &::after {
         content: '';
         display: inline-block;
         width: 100%;
         height: 1px;
         background: #dee0db;
         position: absolute;
         left: 0;
         bottom: 0;
         transition: .3s;
      }


   }
}

.footer {
   background: url(../images/footer.png) no-repeat center / cover;
}

footer {
   border-top: 1px solid #d4d6cf;
   padding: 9rem 0;
}

.footer {
   &__box {
      display: flex;
      justify-content: space-between;
   }

   &__wrapper1 {
      display: flex;
      gap: 30.6rem;

   }

   &__wrapper2 {
      display: flex;
      gap: 17.7rem;
   }

   &__list {
      margin: 0;
      padding-left: 0;
      list-style: none;
   }

   &__item {
      font-size: 1.8rem;
      margin-bottom: 2.7rem;

      &:nth-child(3) {
         margin-bottom: 0;
      }
   }

   &__link {
      color: $green;
      text-decoration: none;
      transition: .3s;

      &:hover {
         color: $orange;
      }
   }

   &__contact {}

   &__tel {
      display: block;
      font-size: 1.8rem;
      color: $green;
      text-decoration: none;
      transition: .3s;

      &:hover {
         color: $orange;
      }

      &:nth-child(1) {
         font-size: 2.7rem;
         margin-bottom: 3rem;
      }
   }

   &__text {
      display: flex;
      justify-content: space-between;
      margin-top: 5.7rem;
      font-size: 1.6rem;
      color: rgba($green, .6);
   }

   &__course {
      color: $green;
      opacity: .6;
      text-decoration: none;
      transition: .3s;

      &:hover {
         opacity: 1;
      }
   }
}



.footer-social {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   padding-left: 0;
   list-style: none;
   margin-top: 3rem;

   &__item {}

   &__link {
      display: block;
      width: 50px;
      height: 50px;
      border: 1px solid $green;
      border-radius: 100%;
      opacity: .8;
      transition: .3s;

      &:hover {
         opacity: 1;
      }
   }

   &__vk {
      background: url(../images/vk.svg) no-repeat center / 23px 19px;
   }

   &__inst {
      background: url(../images/instagram.svg) no-repeat center / 19px 19px;
   }

   &__fb {
      background: url(../images/facebook.svg) no-repeat center / 9px 19px;
   }
}